<a href="https://colab.research.google.com/github/owaisishtiaqsiddiqui/QxQ-23-24-Course-Solutions/blob/main/QXQ_YLC_Week_2_Homework_%5BSOLUTIONS%5D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Homework 2: Python Basics I**
---

### **Description**
In this homework, you will continue to hone your understanding of python basics including objects, types, arithmetic operators, and variables. **NOTE: You will need to submit answers to several questions throughout the notebook on Canvas.**

<br>

### **Structure**
**Part 1**: [Getting Familiar with Google Colab](#p1)

**Part 2**: [Objects and Types](#p2)

**Part 3**: [Arithmetic and Variables](#p3)


<br>

### **Learning Objectives**
By the end of this homework, we will:
* Recognize the definition/framework of objects, methods, attributes.
* Recognize the main data types and how to modify them with basic arithmetic operators (+, -, /, *).
* Recognize that variables are a way to store objects.


<br>

### **Resources**
* [Python Basics Cheat Sheet](https://docs.google.com/document/d/1uLao-xKh3tYIiCYyiqf7oas4qTlr5XYKQ0QpzX_Xzag/edit?usp=sharing)

<a name="p1"></a>

---
## **Part 1: Reading and Modifying Code**
---

In this section, you will hone your ability to read and modify code given to you.

#### **Problem #1.1**

Modify the code to calculate the area of a rectangle whose length is 10 and width is 5.

In [ ]:
length = 5
width = 4
area = length*width
area

20

##### **Solution**

In [ ]:
length = 10
width = 5
area = length*width
area

50

#### **Problem #1.2**

Modify the code to calculate the `cost_per_person` if the `total_cost` is 500.

In [ ]:
total_cost = 100
number_of_people = 5
cost_per_person = total_cost/number_of_people
cost_per_person

##### **Solution**

In [ ]:
total_cost = 500
number_of_people = 5
cost_per_person = total_cost/number_of_people
cost_per_person

100.0

#### **Problem #1.3**

Modify the code shown below to calculate the final exam grade needed when:

| Exam         	| Grade 	| Weight 	|
|--------------	|-------	|--------	|
| Exam 1:      	| 75    	| 0.2    	|
| Exam 2:      	| 82    	| 0.2    	|
| Final Exam:  	| ?     	| 0.6    	|
| Final Grade: 	| 85    	|        	|

In [ ]:
exam_1_grade = 90
exam_1_weight = 0.25

exam_2_grade = 84
exam_2_weight = 0.3

final_exam_weight = 0.45
wanted_final_grade = 90

required_grade_on_final = (wanted_final_grade- exam_1_grade*exam_1_weight - exam_2_grade*exam_2_weight)/final_exam_weight
required_grade_on_final

93.99999999999999

##### **Solution**

In [ ]:
exam_1_grade = 75
exam_1_weight = 0.2

exam_2_grade = 82
exam_2_weight = 0.2

final_exam_weight = 0.6
wanted_final_grade = 85

required_grade_on_final = (wanted_final_grade- exam_1_grade*exam_1_weight - exam_2_grade*exam_2_weight)/final_exam_weight
required_grade_on_final

89.33333333333333

<a name="p2"></a>

---
## **Part 2: Objects and Types**
---

In this section, you will hone your understanding of the concepts of objects and types.

#### **Problem #2.1**

Which of the following objects are floats?

a.
```python
5.2
```

b.
```python
"this is an object"
```

c.
```python
"5.2"
```

d.
```python
52
```

e.
```python
52 / 10
```

##### **Solution**

**The floats are a and e**. a should be pretty clear, but e is a trickier one! Even though it is an expression involving only ints, the result of the operation is a float.

<br>

**NOTE**: These can all be checked by running the code:
```python
type(WRITE OBJECT HERE)
```

For example,
```python
type("5.2")
```
or
```python
type(52 / 10)
```

#### **Problem #2.2**

Label the following data types.

a.
```python
2
```

b.
```python
8.9
```

c.
```python
"Quantum Computing rocks!"
```

d.
```python
["string"]
```

e.
```python
5.0
```

##### **Solution**

a. int

b. float

c. string

d. list

e. float

#### **Problem #2.3**

Which of the following are objects?

a.
```python
"28"
```

b.
```python
28.5
```

c.
```python
num_eggs = 2 * 3
```

d.
```python
True
```

e.
```python
is_cheese = False
```

##### **Solution**

**They're all objects!** Everything in python (except reserved words such as for, while, if, etc.) is an object.

#### **Problem #2.4**

As discussed in lab, objects consist of two parts: attributes (data) and methods (behaviors). Given that the syntax for both is different, which of the following are attributes?

a.
```python
phone.call("Bob")
```

b.
```python
phone.time
```

c.
```python
phone.change_volume(50)
```

d.
```python
students.names_list
```

e.
```python
students.sort_by_age()
```

##### **Solution**

**The attributes are b and d.** You can always tell an attribute from a method because attributes don't have parentheses at the end and methods always do (even if there's nothing inside them).

Furthermore, you could guess which ones are attributes versus methods by looking at the names:
* Attributes are nouns: people, places, things. For instance, "time" and "names_list".
* Methods are verbs: actions. For instance, "call", "change_volume", and "sort_by_age".

<a name="p3"></a>

---
## **Part 3: Arithmetic and Variables**
---

In this section, you will hone your ability to calculate operations with numerical types and store a range of types in variables.

#### **Problem #3.1**

Calculate 50 multiplied by 4.5.

##### **Solution**

In [ ]:
50 * 4.5

#### **Problem #3.2**

Calculate 50 multiplied by 4.5 plus 10.

##### **Solution**

In [ ]:
50 * 4.5 + 10

235.0

#### **Problem #3.3**

Calculate 4 to the 8th power plus 10.

##### **Solution**

In [ ]:
4**8 + 10

#### **Problem #3.4**

Create a variable that stores the name of the country you live in. Output that variable.

##### **Solution**

In [ ]:
country = "Greece"
country

'Greece'

#### **Problem #3.5**

Create a variable named `height_cm` and set it equal to your height in centimeters. Output `height_cm`.

<br>

**NOTE**: 1 inch = 2.54 cm.

##### **Solution**

In [ ]:
height_cm = 190.5
height_cm

190.5

#### **Problem #3.6**

Create a variable named `height_m` and set it equal to your height in m. Use the `height_cm` variable from the previous problem. Output `height_m`.

<br>

**NOTE**: 1 m = 100 cm.

##### **Solution**

In [ ]:
height_m = height_cm / 100
height_m

1.905

#### **Problem #3.7**

Which of the following variables names would not run in python?

a.
```python
1var = 10
```

b.
```python
2var = 20
```

c.
```python
3_var = 30
```

d.
```python
Var4 = 40
```

e.
```python
VAR5 = 50
```

f.
```python
var_6 = 60
```

g.
```python
month&year = "July 2022"
```

h.
```python
hello = "hello"
```

i.
```python
for = "for"
```

##### **Solution**

**a - c, g, and i are would not run.** Technically d and e are frowned upon due to the use of capital letters, but they will still run. The rest are fully acceptable.

#### **Problem #3.8**

Create a variable `name` and assign it to your name. Output `name`. Then, reassign `name` to a friend's name. Output again.

##### **Solution**

In [ ]:
name = "Name 1"
name

'Name 1'

In [ ]:
name = "Name 2"
name

'Name 2'

# End of notebook
---
© 2023 The Coding School, All rights reserved